<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="list-group" ng-controller="StoreController as store">
    <div class="list-group-item" ng-repeat="product in store.products">
      <div ng-hide="store.product.soldOut">
        <product-title></product-title>
        <div class="gallery" ng-show="{{ product.images.length > 1 }}">
          <div class="img-wrap">
            <img ng-src="{{product.images[0]}}">
          </div>
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
              <img ng-src={{image}} />
            </li>
          </ul><!-- img-thumbnails -->
        </div><!-- gallery -->
        <button ng-show="store.product.canPurchase"> Add to Cart </button>
      </div>
      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active:tab.isSelected(1)}">
            <a href ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li ng-class="{ active:tab.isSelected(2)}">
            <a href ng-click="panel.selectTab(2)">Specifications</a>
          </li>
          <li ng-class="{ active:tab.isSelected(3)}">
            <a href ng-click="panel.selectTab(3)">Review</a>
          </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <p>{{product.description }} </p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specs</h4>
          <p>None yet</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <!--  Product Reviews List -->
          <ul>
            <h4>Reviews</h4>
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
              </blockquote>

              <select ng-model="reviewCtrl.review.stars" required>
                <option value="1">1 star</option>
                <option value="2">2 star</option>
                <option value="3">3 star</option>
                <option value="4">4 star</option>
                <option value="5">5 star</option>
              </select><br>
              <textarea ng-model="reviewCtrl.review.body" required></textarea><br>
              <label>by:</labe>
                <input ng-model="reviewCtrl.review.author" type="email" required/><br>
                <input type="submit" value="Submit" />
            </form>
            <li ng-repeat="review in product.reviews">
              <blockquote>
                <strong>{{review.stars}} Stars </strong>
                {{review.body}}
                <cite class="clearfix">—{{review.author}}</cite>
              </blockquote>
            </li>
          </ul>
        </div>
      </section>
    </div><!-- list store products -->
  </body>
</html>
