<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSelected(1)}">
      <a href ng-click="panel.selectTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSelected(2)}">
      <a href ng-click="panel.selectTab(2)">Specifications</a>
    </li>
    <li ng-class="{ active:tab.isSelected(3)}">
      <a href ng-click="panel.selectTab(3)">Review</a>
    </li>
  </ul>
  <product-description class="panel" ng-show="panel.isSelected(1)">
  </product-description>
  <div product-specs class="panel" ng-show="panel.isSelected(2)">
  </div>
  <div class="panel" ng-show="panel.isSelected(3)">
    <!--  Product Reviews List -->
    <ul>
      <h4>Reviews</h4>
      <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
        <blockquote>
          <b>Stars: {{reviewCtrl.review.stars}}</b>
          {{reviewCtrl.review.body}}
          <cite>by: {{reviewCtrl.review.author}}</cite>
        </blockquote>

        <select ng-model="reviewCtrl.review.stars" required>
          <option value="1">1 star</option>
          <option value="2">2 star</option>
          <option value="3">3 star</option>
          <option value="4">4 star</option>
          <option value="5">5 star</option>
        </select><br>
        <textarea ng-model="reviewCtrl.review.body" required></textarea><br>
        <label>by:</labe>
          <input ng-model="reviewCtrl.review.author" type="email" required/><br>
          <input type="submit" value="Submit" />
      </form>
      <li ng-repeat="review in product.reviews">
        <blockquote>
          <strong ng-include="'product-stars.html'"></strong>
          {{review.body}}
          <cite class="clearfix">—{{review.author}}</cite>
        </blockquote>
      </li>
    </ul>
  </div>
</section>
